p {
	color: #000000;
}	
h1 {
	text-align: center;
	padding: 30px;
	border-style: groove;
	
}
body{
	color: #FFFF00;
	background-color: #19A3D1;
	font-family: serif;
	margin: 20px;
	padding-left: 40px;
	padding-bottom: 
}	

nav{
	background-color: #FF8756
	position: fixed;
	top: 0;
	left: 0;
	
}

nav a{
	text-decoration: none;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li{
	display: inline;
	padding-left: 20px;
}